{% extends 'base.html.twig' %}

{% block body %}
    <h1>Challenges list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Objectid</th>
                <th>Title</th>
                <th>Content</th>
                <th>Points</th>
                <th>Gender</th>
                <th>Minplayerscount</th>
                <th>Code</th>
                <th>Type</th>
                <th>Source</th>
                <th>Rating</th>
                <th>Userid</th>
                <th>Moderated</th>
                <th>Nativeid</th>
                <th>Categoryid</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for challenge in challenges %}
            <tr>
                <td><a href="{{ path('challenge_show', { 'id': challenge.id }) }}">{{ challenge.id }}</a></td>
                <td>{{ challenge.objectId }}</td>
                <td>{{ challenge.title }}</td>
                <td>{{ challenge.content }}</td>
                <td>{{ challenge.points }}</td>
                <td>{{ challenge.gender }}</td>
                <td>{{ challenge.minPlayersCount }}</td>
                <td>{{ challenge.code }}</td>
                <td>{{ challenge.type }}</td>
                <td>{{ challenge.source }}</td>
                <td>{{ challenge.rating }}</td>
                <td>{{ challenge.userId }}</td>
                <td>{% if challenge.moderated %}Yes{% else %}No{% endif %}</td>
                <td>{{ challenge.nativeId }}</td>
                <td>{{ challenge.categoryId }}</td>
                <td>{% if challenge.createdAt %}{{ challenge.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if challenge.updatedAt %}{{ challenge.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('challenge_show', { 'id': challenge.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('challenge_edit', { 'id': challenge.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('challenge_new') }}">Create a new challenge</a>
        </li>
    </ul>
{% endblock %}
