{% extends 'base.html.twig' %}

{% block body %}
    <h1>Challenge</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ challenge.id }}</td>
            </tr>
            <tr>
                <th>Objectid</th>
                <td>{{ challenge.objectId }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ challenge.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ challenge.content }}</td>
            </tr>
            <tr>
                <th>Points</th>
                <td>{{ challenge.points }}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{ challenge.gender }}</td>
            </tr>
            <tr>
                <th>Minplayerscount</th>
                <td>{{ challenge.minPlayersCount }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ challenge.code }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ challenge.type }}</td>
            </tr>
            <tr>
                <th>Source</th>
                <td>{{ challenge.source }}</td>
            </tr>
            <tr>
                <th>Rating</th>
                <td>{{ challenge.rating }}</td>
            </tr>
            <tr>
                <th>Userid</th>
                <td>{{ challenge.userId }}</td>
            </tr>
            <tr>
                <th>Moderated</th>
                <td>{% if challenge.moderated %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Nativeid</th>
                <td>{{ challenge.nativeId }}</td>
            </tr>
            <tr>
                <th>Categoryid</th>
                <td>{{ challenge.categoryId }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if challenge.createdAt %}{{ challenge.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if challenge.updatedAt %}{{ challenge.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('challenge_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('challenge_edit', { 'id': challenge.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
